In [1]:
"LISTS"

'LISTS'

In [2]:
L1 = ['a',1,2.4]

In [3]:
type(L1)

list

In [4]:
len(L1)

3

In [5]:
L1[0]

'a'

In [6]:
L1[2]

2.4

In [7]:
#lists are mutable - they canbe edited/changed/deleted

In [8]:
l2 = [12,1,100,22,112]

In [9]:
l2.sort()

In [10]:
l2

[1, 12, 22, 100, 112]

In [11]:
#TUPLE

In [12]:
#same like list but they are immutable

In [13]:
t1 = (12,'abc',7.8)

In [14]:
type(t1)

tuple

In [20]:
t1.count

In [21]:
#RANGE AND FOR LOOP

In [22]:
x = range(2,20)

In [23]:
type(x)

range

In [29]:
x[0],x[1],x[2]

(2, 3, 4)

In [30]:
y = range(2,10,2)

In [31]:
y

range(2, 10, 2)

In [32]:
z = range(10)

In [33]:
z

range(0, 10)

In [34]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
a = 'This is our second class'

In [36]:
# 1st way

In [37]:
for i in a[:5]:
    print(i)

T
h
i
s

In [38]:
#alternate
for i in range(len(a[:5])):
    print('index: ',i, '/t','value: ',a[i])

index:  0 /t value:  T
index:  1 /t value:  h
index:  2 /t value:  i
index:  3 /t value:  s
index:  4 /t value:

In [39]:
#lets chechk if the password entered by the user has satisfied minimum lenght(len = 6)

In [41]:
pwd = input('Enter the password of your choice')

if len(pwd)<=6:
    print('Password created')
else:
    print('try again')

Enter the password of your choiceasdasdasdasd
try again

In [47]:
#counting no. of words
text = 'Enter the password of your choice'
count = 0
for i in text:
    if i == ' ':
        count = count + 1
print('Total no. of words :', count+1)

Total no. of words : 6

In [48]:
#make a list of vowels from the given string
a = 'Timothy Astor the King X'
vowellist = []
for i in a:
    if i in 'aeiouAEIOU':
        vowellist.append(i)
vowellist

['i', 'o', 'A', 'o', 'e', 'i']

# Dictionary

In [51]:
car = {
    'brand' : 'Ford',
    'model' : 'Mustang',
    'Year' : 1963
}

In [52]:
len(car)

3

In [53]:
type(car)

dict

In [54]:
car.keys()

dict_keys(['brand', 'model', 'Year'])

In [55]:
car.values()

dict_values(['Ford', 'Mustang', 1963])

In [56]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('Year', 1963)])

In [60]:
#how to access a value
car['brand']

'Ford'

In [58]:
#adding a new value in keyt value pair
car['milage'] = '20lm/l'

In [61]:
car

{'brand': 'Ford', 'model': 'Mustang', 'Year': 1963, 'milage': '20lm/l'}

In [62]:
#write a pyhton code to itterate through all the key value pair inside a dictionary
for i in car:
    print('keys: ',i, '\t', 'values: ',car[i])

keys:  brand 	 values:  Ford
keys:  model 	 values:  Mustang
keys:  Year 	 values:  1963
keys:  milage 	 values:  20lm/l

In [64]:
for i in car.items():
    print(i)
    print('keys: ',i[0], '\t', 'values: ',i[1])

('brand', 'Ford')
keys:  brand 	 values:  Ford
('model', 'Mustang')
keys:  model 	 values:  Mustang
('Year', 1963)
keys:  Year 	 values:  1963
('milage', '20lm/l')
keys:  milage 	 values:  20lm/l

In [65]:
d1 = {'a' : 1000, 'b' : 2000}
d2 = {'x' :-1000, 'y' :-2000}

In [66]:
d1.update(d2)

In [67]:
d1

{'a': 1000, 'b': 2000, 'x': -1000, 'y': -2000}

In [68]:
#sort a dic by key values
color_dict = {'red' : '#FF0000',
               'green' : '#RE0761'}
for i in sorted(color_dict):
    print(i,'-->', color_dict[i])

green --> #RE0761
red --> #FF0000

In [ ]:
#1. WAP that accepts string and calculates the number of digits and letters inside a string
#2. WAP to check if the string is number or not