In [1]:
import pandas as pd
import numpy as np

In [2]:
a = ['A','B','C','D']
b = ['new','old','new','old']

In [4]:
df = pd.DataFrame((a,b)).T
df.columns = ['Category 1','Category 2']

In [5]:
df

  Category 1 Category 2
0          A        new
1          B        old
2          C        new
3          D        old

In [6]:
pd.get_dummies(df['Category 1'],prefix='categry')

   categry_A  categry_B  categry_C  categry_D
0          1          0          0          0
1          0          1          0          0
2          0          0          1          0
3          0          0          0          1

In [8]:
df = df.join(pd.get_dummies(df['Category 1']))

In [9]:
df

  Category 1 Category 2  A  B  C  D
0          A        new  1  0  0  0
1          B        old  0  1  0  0
2          C        new  0  0  1  0
3          D        old  0  0  0  1